body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.board {
  display:flex;
  flex-direction: column;
  width: 960px;
  height: 720px;
  margin: 0 auto;
}

.board-row {
  display: flex;
}

.square {
  display: flex;
  background: #fff;
  border: 1px solid black;
  font-size: 24px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
